body {
    padding-top: 4rem;
}

nav {
    height: 4rem;
    padding: 0 1rem;
    border-bottom: 2px solid var(--border-color);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    backdrop-filter: blur(80px);
}

#nav-container {
    height: inherit;
    max-width: var(--max-width-page);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav-logo {
    width: 3rem;
    height: 3rem;
    color: var(--primary-color);
}

#nav-menu-btn-icon {
    width: 2.5rem;
    height: 2.5rem;
}

#nav-menu-btn {
    border: 2px solid var(--border-color);
    background-color: transparent;
    padding: 0 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.350rem;
    transition: all 0.1s ease-in-out;
}

#nav-menu-btn:active {
    background-color: var(--nav-btn-active-color);
}

.nav-link {
    color: var(--text-color);
    text-decoration: none;
}

.nav-link:hover {
   text-decoration: underline;
}

#nav-links-container {
    display: none;
    gap: 1rem;
}

#main {
    max-width: var(--max-width-page);
    margin: 0 auto;
    height: calc(100svh - 4rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 0 1rem;
}

#main-desc-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#main-title {
    font-size: 3rem;
    color: var(--primary-color);
}

#main-desc-text {
    text-align: justify;
}

#main-desc-btn {
    width: fit-content;
    align-self: center;
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    font-weight: 700;
    border-radius: 0.325rem;
    text-transform: uppercase;
    background-color: transparent;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
}

#main-desc-btn:active {
    background-color: blue;
    border-color: blue;
    color: white;
}

#main-desc-btn:hover {
    background-color: blue;
    border-color: blue;
    color: white;
}

@media (min-width: 768px) {
    #nav-menu-btn {
        display: none;
    }

    #nav-links-container {
        display: flex;
    }

    #main {
        flex-direction: row;
        width: 80%;
    }

    #main-title {
        font-size: 3.5rem;
    }

    #main-desc-container {
        width: 50%;
    }
}

@media (min-width: 1024px) {
    #main-title {
        font-size: 5rem;
    }

    #main-desc-text {
        font-size: 1.2rem;
    }

    #main-desc-btn {
        font-size: 1.4rem;
    }
}


